---
---
// my custom variables that Minima can use here

@import "minima";

img:active {
  top: 4px;
  position: relative;
}

img {
  position: relative;
  top: 0;
  transition: all 0.3s;
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
}

table {
  display: block;
  width: 100%;
  table-layout:fixed;
  overflow-x: auto;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: underline dotted #bbb;
}

@media screen and (max-width: 800px) {
  img {
    max-width: calc(100% - 50px);
  }
}
